<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        
        {% load static %}
        <link rel="stylesheet" href="{% static 'footer.css' %}">
</head>
<body>
    <div class="footer">
        <div class="main-footer">
            <div class="column">
                <h5>INFORMATION</h5>
                <ul class="footer-list">
                    <a href="#"><li>The brand</li></a>
                    <a href="#"><li>Local stores</li></a>
                    <a href="#"><li>Customer service</li></a>
                    <a href="#"><li>Privacy & cookies</li></a>
                    <a href="#"><li>Site map</li></a>
                </ul>
            </div>
            <div class="column">
                <h5>WHY BUY FROM US</h5>
                <ul class="footer-list">
                    <a href="#"><li>Shipping & returns</li></a>
                    <a href="#"><li>Secure shopping</li></a>
                    <a href="#"><li>Testimonials</li></a>
                    <a href="#"><li>Award winning</li></a>
                    <a href="#"><li>Ethical trading</li></a>
                </ul>
            </div>
            <div class="column">
                <h5>YOUR ACCOUNT</h5>
                <ul class="footer-list">
                    <a href="#"><li>Sing in</li></a>
                    <a href="#"><li>Register</li></a>
                    <a href="#"><li>View cart</li></a>
                    <a href="#"><li>View your lookbook</li></a>
                    <a href="#"><li>Track an order</li></a>
                    <a href="#"><li>Update information</li></a>
                </ul>
            </div>
            <div class="column">
                <h5>LOOKBOOK</h5>
                <ul class="footer-list">
                    <a href="#"><li>Latest post</li></a>
                    <a href="#"><li>Men's lookbook</li></a>
                    <a href="#"><li>Women's lookbook</li></a>
                    <a href="#"><li>Lookbooks RSS feed</li></a>
                    <a href="#"><li>View your lookbook</li></a>
                    <a href="#"><li>Delete your lookbook</li></a>
                </ul>
            </div>
            <div class="column">
                <h5>CONTACT DETAILS</h5>
                <ul class="footer-list">
                    <a href="#"><li>HeadOffice:Avenue Fashion</li></a>
                    <a href="#"><li>Telephone:033 123 4567</li></a>
                    <a href="#"><li>Email:example@gmail.com</li></a>
                    
                </ul>
            </div>
        </div>
        <div class="banner-footer">
            <div class="left-side-footer"></div>
            <div class="award">
                <b>AWARD WINNER</b><br><br>
                <p>FASHION AWARDS 2022</p>


            </div>
            <div class="social-icons">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-linkedin"></a>

            </div>
            <div class="right-side-footer"></div>
        </div>
        <div class="copyright-footer">
            <p class="copyright">
                &#169;
                Avenue Fashion
    
    
            </p>
            <p class="design-by">
                Design by ITAcademy Begginers :)
            </p>
        </div>
        
            
    </div>
    
</body>
</html>