<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="../static/homepage.css">
    {% load static %}
  <script src="{% static 'header-footer.js' %}"></script>
    
    <title>Document</title>
</head>

<body>
    <header-component></header-component>
    <section id="main" class="main">
        <div class="main-item">
            <div class="background-image">
                <img src="{% static 'img/bg-1.png' %}" alt="My image"> <button class="main-button" type="submit">SHOP MEN'S COLLECTION</button>
            </div>
        </div>
    </section>
    <section id="card-items" class="card-items">
        <hr class="section-separator-line">
        <div class="container">
            <ul class="navbar">
                <li class="nav-item"><a class="nav-link-a active" href="#"><b>POPULAR</b></a></li>
                <li class="nav-item"><a class="nav-link-a" href="#"><b>NEW ARIVALS</b></a></li>
                <li class="nav-item"><a class="nav-link-a" href="#"><b>BEST SELLERS</b></a></li>
                <li class="nav-item"><a class="nav-link-a" href="#"><b>SPECIAL OFFERS</b></a></li>
                <li class="nav-item"><a class="nav-link-a" href="#"><b>COMMING SOON</b></a></li>
            </ul>
            <div class="items-container">
                <div class="first-row">
                    <div class="item-1-2">
                        <div class="item item-1">
                            <img src="{% static 'img/products/product1.jpg' %}" alt="My image">
                            <p><span>£</span>89.99</p>
                            <span class="fa fa-info-circle fa-4 info-icon"></span>
                            <div class="plus-item">
                                <img src="{% static 'img/plus-1.png' %}" alt="My image">
                                <img src="{% static 'img/plus-2.jpg' %}" alt="My image">
                            </div>
                            <div class="item-detail">
                                <h3 class="item-detail-title">womens burnt orange casual tee <span>£</span>29.99</h3>
                                <p class="item-relative">classic casual t-shirt for women on the move.<br>100%
                                    cotton.</p>
                                <div class="icons text-center">
                                    <span class=""><i class="fas fa-shopping-cart"></i></span>
                                    <span class=""><i class="far fa-heart"></i></span>
                                    <span class=""><i class="fas fa fa-compress fa-1"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="item item-2">
                            {% load static %}
                            <img src="{% static 'img/products/product2.jpg' %}" alt="My image">
                            <p><span>£</span>47.50</p>
                            <span class="fa fa-info-circle fa-4 info-icon"></span>
                            <div class="plus-item">
                                <img src="{% static 'img/plus-1.png' %}" alt="My image">
                                <img src="{% static 'img/plus-2.jpg' %}" alt="My image">
                            </div>
                            <div class="item-detail">
                                <h3 class="item-detail-title">womens burnt orange casual tee <span>£</span>29.99</h3>
                                <p class="item-relative">classic casual t-shirt for women on the move.<br>100%
                                    cotton.</p>
                                <div class="icons text-center">
                                    <span class=""><i class="fas fa-shopping-cart"></i></span>
                                    <span class=""><i class="far fa-heart"></i></span>
                                    <span class=""><i class="fas fa fa-compress fa-1"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item-4">
                        <img src="{% static 'img/product-3.jpg' %}" alt="My image">
                        <p class="old-price"><span>£</span>107.00</p>
                        <p class="new-price"><span>£</span>89.99</p>
                        <span class="fa fa-info-circle fa-4 info-icon"></span>
                        <div class="plus-item">
                            <img src="{% static 'img/plus-1.png' %}" alt="My image">
                            <img src="{% static 'img/plus-2.jpg' %}" alt="My image">
                        <div class="item-detail">
                            <h3 class="item-detail-title">womens burnt orange casual tee <span>£</span>29.99</h3>
                            <p class="item-relative">classic casual t-shirt for women on the move.<br>100%
                                cotton.</p>
                            <div class="icons text-center">
                                <span class=""><i class="fas fa-shopping-cart"></i></span>
                                <span class=""><i class="far fa-heart"></i></span>
                                <span class=""><i class="fas fa fa-compress fa-1"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="second-row">
                    <div class="item item-3">
                        <img src="{% static 'img/product-4.jpg' %}" alt="My image">
                        <p><span>£</span>69.95</p>
                        <span class="fa fa-info-circle fa-4 info-icon"></span>
                        <div class="plus-item">
                            <img src="{% static 'img/plus-1.png' %}" alt="My image">
                            <img src="{% static 'img/plus-2.jpg' %}" alt="My image">
                        </div>
                        <div class="item-detail">
                            <h3 class="item-detail-title">womens burnt orange casual tee <span>£</span>29.99</h3>
                            <p class="item-relative">classic casual t-shirt for women on the move.<br>100%
                                cotton.</p>
                            <div class="icons text-center">
                                <span class=""><i class="fas fa-shopping-cart"></i></span>
                                <span class=""><i class="far fa-heart"></i></span>
                                <span class=""><i class="fas fa fa-compress fa-1"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="item-5-6">
                        <div class="item item-5">
                            <img src="{% static 'img/product-5.png' %}" alt="My image">
                            <p><span>£</span>29.95</p>
                            <span class="fa fa-info-circle fa-4 info-icon"></span>
                            <div class="plus-item">
                                <img src="{% static 'img/plus-1.png' %}" alt="My image">
                                <img src="{% static 'img/plus-2.jpg' %}" alt="My image">
                            </div>
                            <div class="item-detail">
                                <h3 class="item-detail-title">womens burnt orange casual tee <span>£</span>29.99</h3>
                                <p class="item-relative">classic casual t-shirt for women on the move.<br>100%
                                    cotton.</p>
                                <div class="icons text-center">
                                    <span class=""><i class="fas fa-shopping-cart"></i></span>
                                    <span class=""><i class="far fa-heart"></i></span>
                                    <span class=""><i class="fas fa fa-compress fa-1"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="item item-6">
                            <img src="{% static 'img/product-6.jpg' %}" alt="My image">
                            <p><span>£</span>34.79</p>
                            <span class="fa fa-info-circle fa-4 info-icon"></span>
                            <div class="plus-item">
                                <img src="{% static 'img/plus-1.png' %}" alt="My image">
                                <img src="{% static 'img/plus-2.jpg' %}" alt="My image">
                            </div>
                            <div>
                                <div class="item-detail">
                                    <div>
                                        <h3 class="item-detail-title">womens burnt orange casual tee <span>£</span>29.99
                                        </h3>
                                        <p class="item-relative">classic casual t-shirt for women on the move.<br>100%
                                            cotton.</p>
                                        <div class="icons text-center">
                                            <span class=""><i class="fas fa-shopping-cart"></i></span>
                                            <span class=""><i class="far fa-heart"></i></span>
                                            <span class=""><i class="fas fa fa-compress fa-1"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="section-separator-line">
            <br><br>
    </section>
    <section id="lookbooks" class="lookbooks">
        <div class="man-lookbook">
            <div class="man-picture">
                <img src="{% static 'img/men.png' %}" alt="My image">
            </div>
            <div class="man-lookbook-text">
                <div class="lookbook-text">
                    <div>
                        <h1><span class="lookbook-span-first">MENS'S</span><br>
                            <span class="lookbook-span-second">LOOKBOOK</span>
                        </h1>
                    </div><br><br>
                    <div>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, quod.</p>
                        <button type="submit">VIEW NOW</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="woman-lookbook">
            <div class="woman-picture">
                <img src="{% static 'img/woman.png' %}" alt="My image">
            </div>
            <div class="woman-lookbok-text">
                <div class="lookbook-text">
                    <div>
                        <h1>
                            <span class="lookbook-span-first">WOMENS'S</span><br>
                            <span class="lookbook-span-second">LOOKBOOK</span>
                        </h1>
                    </div><br><br>
                    <div>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, quod.</p>
                        <button type="submit">VIEW NOW</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="your-lookbook">
            <div class="your-picture">
                <img src="{% static 'img/anonim.png' %}" alt="My image">
            </div>
            <div class="your-lookbook-text">
                <div class="lookbook-text">
                    <div>
                        <h1>
                            <span class="lookbook-span-first">YOUR</span><br>
                            <span class="lookbook-span-second">LOOKBOOK</span>
                        </h1>
                    </div><br><br>
                    <div>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, quod.</p>
                        <button type="submit">VIEW NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </section><br>
    <hr class="section-separator-line"><br><br>
    <secition id="bottom-body" class="bottom-body">
        <div class="bottom-body-container">
            <div class="first-bottom-body-row">
                <div class="first-bottom-body-column">
                    <ul>
                        <li>
                            <p><b>INFORMATION</b></p>
                        </li><br>
                        <li><a href="#">The brand</a></li>
                        <li><a href="#">Local stores</a></li>
                        <li><a href="#">Customer service</a></li>
                        <li><a href="#">Privacy & cookies</a></li>
                        <li><a href="#">Site map</a></li>
                    </ul>
                </div>
                <div class="second-bottom-body-column">
                    <ul>
                        <li>
                            <p><b>WHY BUY FROM US</b></p><br>
                        </li>
                        <li><a href="#">Shipping & returns</a></li>
                        <li><a href="#">Secure shopping</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Award winning</a></li>
                        <li><a href="#">Ethical trading</a></li>
                        </li>
                    </ul>
                </div>
                <div class="third-bottom-body-column">
                    <ul>
                        <li>
                            <p><b>YOUR ACCOUNT</b></p><br>
                        </li>
                        <li><a href="#">Sign in</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">View cart</a></li>
                        <li><a href="#">View your lookbook</a></li>
                        <li><a href="#">Track an order</a></li>
                        <li><a href="#">Update information</a></li>
                    </ul>
                </div>
                <div class="fourth-bottom-body-column">
                    <ul>
                        <li>
                            <p><b>LOOKBOOK</b></p><br>
                        </li>
                        <li><a href="#">Latest posts</a></li>
                        <li><a href="#">Men's lookbook</a></li>
                        <li><a href="#">Women's lookbook</a></li>
                        <li><a href="#">Lookbook RSS feed</a></li>
                        <li><a href="#">View your lookbook</a></li>
                        <li><a href="#">Delete your lookbook</a></li>
                    </ul>
                </div>
                <div class="fifth-bottom-body-colum">
                    <ul>
                        <li>
                            <p><b>CONTACT DETAILS</b></p><br>
                        </li>
                        <li><a href="#">Head Office Avenue Fashion,<br>180-182 Regent Street, London</a></li>
                        <li><a href="#">Telephone 0123-456-789</a></li>
                        <li><a href="mailto:support@yourwebsite.com">Email: support@yourwebsite.com</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="second-bottom-body-row">
                <div class="award-winner">
                    <h1>AWARD WINNER</h1>
                    <H1>FASHION AWARDS 2016</H1>
                </div>
                <div class="social">
                    <i class="fab fa-facebook-f fa-2x"></i>
                    <i class="fab fa-twitter fa-2x"></i>
                    <i class="fab fa-instagram fa-2x"></i>
                    <i class="fab fa-pinterest fa-2x"></i>
                </div>
            </div>
        </div>
    </secition>
</body>

</html>