.container{
    
    display: block;
    width: 100%;

}
.product-card{
    height: 250px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    border: 3px;
    border-radius: 5px;
    border-color: aqua;
    border-style: solid;
    margin-top: 10px;
   
}
.product-image{
    width: 140px;
    height: 175px;
    margin-top: 20px;
    margin-left: 20px;
}
.Product_Title{
    font-family: 'Monsterrat';
    color: darkgray;
    font-size: 25px;
    margin-top: 120px;
}
.Product_Price{
    font-family: 'Monsterrat';
    color: darkgray;
    font-size: 25px;
    margin-top: 120px;
}
.product-view-button{
    width: 100px;
    height: 70px;
    background-color: black;
    color: white;
    font-family: 'Monsterrat';
    margin-top: 100px;
}
.product-remove-button{
    width: 100px;
    height: 70px;
    background-color: red;
    color: white;
    font-family: 'Monsterrat';
    margin-top: 100px;
    margin-right: 10px;

}
.payment{
    border: 2px;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.make_order{
    width: 120px;
    height: 60px;
    color: aliceblue;
    background-color: green;
    font-family: 'Monsterrat';
    margin-top: 9px;
    margin-right: 10px;
}
.number_of_products{
    font-family: 'Monsterrat';
    color: darkgray;
    font-size: 25px;
    margin-left:5px;
    

}
.total_value{
    font-family: 'Monsterrat';
    color: darkgray;
    font-size: 25px;

}
#i_total_value{
    display: none;
}
.select_size{
    width: 150px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 15px;
    margin-top: 120px;
    color: black;
}

.size_selector{
    display: flex;
}
.size_choose{
    
    font-family: 'Monsterrat';
    font-size: 25px;
    color: gray;
    margin-top: 120px;
}
.size{
    background-color: aqua;
    font-family: 'Monsterrat';
    font-size: 15px;
    color: white;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    margin-top: 115px;
}
#xxs{
    display: block;
}
#xs{
    display: block;
}
#m{
    display: block;
}
#l{
    display: block;
}
#xl{
    display: block;
}
#xxl{
    display: block;
}
.quantity-select{
    height: 40px;
    width: 50px;
    margin-top: 100px;
}