* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-white: #ffffff;
    --section-separator-line: #eeeeee;
    --active-a-link: #00c8c8;
    --link-color-gray: #727272;
}



.cart-wraper {
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
}

.cart-item {
    border: 3px solid var(--link-color-gray);
    width: 400px;
    height: 300px;
    margin: 20px 20px;
    flex-wrap: wrap;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
}


.cart-item:hover {
    border: 3px solid var(--active-a-link);
    transition: 0.5s ease-out;
    background-color: var(--link-color-gray);
    border-radius: 12px;
    transition: 0.3s ease-out;
    color: white;
}

.cart-item img {
    width: fit-content;
}

.product-title {
    padding: 2px;
}

.product-price {
    padding: 2px;

}

.product-image {
    width: 140px;
    height: 175px;
}


.sizes {
    width: 50px;
    height: 34px;
    border-radius: 8px;
    text-align: center;
    margin-right: 20px;
}

.size-option {
    text-align-last: center;
}

.product-view-button {
    width: 115px;
    height: 35px;
    background-color: #00c8c8;
    color: white;
    border: none;
    border-radius: 8px;
    opacity: 0.6;
    margin-right: 25px;
}


.product-remove-button {
    width: 125px;
    height: 35px;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 8px;
    opacity: 0.6;
}

.product-view-button:hover,
.product-remove-button:hover {
    opacity: 1;
    transition: 0.2s;
    cursor: grab;
}

.payment{
    display: flex;
    justify-content: space-between;
}
.price{
    display: flex;
    margin-top: 70px;
}
.make_order{
    width: 100px;
    height: 40px;
    color: white;
    background-color: green;
    border-radius: 10px;
    margin-top: 70px;
}
.form{
    display: flex;
    margin-top: 0;
}
.cart-buttons{
    display: flex;
    justify-content: space-around;
}