.copyright-footer {
    display: flex;
    background-color: #333333;
    justify-content: center;
    height: fit-content;
}

.copyright {
    align-items: center;
    color: white;
    font-size: 10px;
    width: 50%;
    padding: 10px;
}

.design-by {
    align-items: center;
    color: white;
    font-size: 10px;
    width: 50%;
    padding: 10px;
}

p {
    text-align: center;
}