body {
    margin: auto;
}

.upper-header {
    display: flex;
    height: 40px;
    background-color: #333333;
}

.left-upper-header {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: montserrat;
}

.right-upper-header {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-upper-header {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;



}

.sign-in-link:visited {
    color: whitesmoke;
    text-decoration: none;
}

.sign-in-link {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
}

.sign-in-link:active {
    color: aqua;
}

.register-link:visited {
    color: whitesmoke;
    text-decoration: none;
}

.register-link {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
}

.register-link:active {
    color: aqua;
}


select {
    width: 120px;
    box-sizing: border-box;
    border: none;
    background-color: #50503e95;
    color: white;
    font-size: 15px;
}

.searchform {
    width: 150px;
    box-sizing: border-box;
    border: none;
    background-color: #50503e95;
    color: white;
    font-size: 15px;
}

.cart {
    color: aliceblue;
    background-color: aqua;
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty {
    font-family: 'montserrat';
    color: aliceblue;
    font-size: 15px;
    margin-top: 5px;
}

.empty:active {
    color: #333333;
    text-decoration: none;
}

.empty:visited {
    text-decoration: none;
    ;
}

.main-header {
    display: flex;
    position: relative;
    height: 100px;
    background-color: rgb(255, 255, 255);
}

.left-main-header {
    display: flex;
    width: 35%;
    justify-content: center;
    align-items: center;

}

.center-main-header {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: montserrat;


}

li {
    display: inline;
    color: #333333;
}

ul {
    display: flex;
}

.right-main-header {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchform {
    background-color: aliceblue;
    color: black;
    height: 40px;
}

.searchbutton {
    width: 30px;
    height: 40px;
}

li {
    display: inline;
    color: gray;
    font-size: 12px;
    text-decoration: none;
    font-weight: bolder;
}

ul {
    list-style-type: none;
}

.empty {
    color: white;
    text-decoration: none;
}

.home_link {
    text-decoration: none;
}

.home_link:active {
    color: #333333;
}

.home_link:visited {
    color: #333333;
}

@media (max-width:768px) {
    body {
        margin: auto;
    }

    .header {
        display: block;
        height: 100%;
    }

    .upper-header {
        display: block;
        height: 250px;
        width: 100%;
    }

    .left-upper-header {
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto
    }

    .center-upper-header {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto
    }

    .right-upper-header {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto
    }

    .main-header {
        display: block;
        height: 550px;
        width: 100%;
    }

    .left-main-header {
        padding-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .center-main-header {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto
    }

    .right-main-header {
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    span {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    li {
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .column {
        width: 100%;
        height: auto;
    }

    li {
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    ul {
        display: block;
        margin-left: auto;
        margin-right: auto
    }

}


.center-main-header {
    overflow: hidden;
}



.dropdown {
    overflow: hidden;
    box-sizing: border-box;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font: montserrat;
    margin: 0;
    box-sizing: border-box;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: aqua;
    box-sizing: border-box;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    box-sizing: border-box;
}



.dropdown:hover .dropdown-content {
    display: block;
    box-sizing: border-box;
}

.row {
    display: flex;
}

.column {

    width: 50%;
    padding: 10px;
    background-color: #ccc;
    height: 250px;
    text-align: center;

}

.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column a:hover {
    background-color: #ddd;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}