.product-row{
    display: flex;
    flex-flow: row wrap;
    margin-top: 5px;
    
}
.product-card{
    border: 1px;
    border-color: aqua ;
    border-style: solid;
    border-radius: 5px;
    
    height: 600px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.cart-from{
    width: 24%;
}
.product-img{
    height: 350px;
    width: 280px;
    margin-left: 40px;
    margin-top: 10px;
    
}
.product-title{
    font-family: 'Montserrat';
    color: rgb(93, 93, 93);
    font-size: 20px;
    text-align: center;
}
.product-price{
    font-family: 'Montserrat';
    color: rgb(94, 94, 94);
    font-size: 20px;
    text-align: center;
}
.price{
    display: flex;
    text-align: center;
    justify-content: center;
}
.product-value{
    font-family: 'Montserrat';
    color: rgb(94, 94, 94);
    font-size: 20px;
    text-align: center;
}
.product-view-button{
    height: 50px;
    width: 100px;
    text-align: center;
    
    font-family: 'Monsterrat';
    
    background-color: black;
    color: aliceblue;
    letter-spacing: 1px;
}
.product-view-button:hover{
    background-color: aqua;
}
.add-to-cart-button{
    height: 50px;
    width: 100px;
    text-align: center;
    
    font-family: 'Monsterrat';
    
    
    background-color: black;
    color: aliceblue;
    letter-spacing: 1px;
}
.add-to-cart-button:hover{
    background-color: white;
    color: black;

}
.product-cart-buttons{
    display: flex;
    justify-content: space-between;
    margin-left: 55px;
    margin-right: 55px;
}
.count{
    margin-top: 20px;
    font-family: 'Monsterrat';
    font-size: 15px;
    color: rgb(26, 21, 188);
    text-align: center;
}
.add-to-cart-button-off{
    height: 50px;
    width: 100px;
    text-align: center;
    
    font-family: 'Monsterrat';
    
    
    background-color: rgb(209, 35, 35);
    color: aliceblue;
    letter-spacing: 1px;
}
.is_avaliable{
    font-family: 'Monsterrat';
    color: green;
    font-size: 15px;
    text-align: center;
}
.is_not_avaliable{
    font-family: 'Monsterrat';
    color: red;
    font-size: 15px;
    text-align: center;
}
.filterTab{
    width: 23%;
    height: 600px;
    border: 3px;
    border-color:grey;
    border-style:solid;
    margin-top: 10px;
    margin-left: 10px;
}
.filter_h{
    text-align: center;
    font-family: 'Monsterrat';
    color: gray;
}
.filterByCount{
    display: flex;
}
.filter_h_avaliable{
    font-family: 'Monsterrat';
    color: gray;
}
.selectAvaliable{
    width: 100px;
    height: 20px;
    color: black;
    background-color: aliceblue;
    margin-top: 20px;
    margin-left: 10px;
}
@media (max-width:768px) {
    .product-card{
        display: block;
        width: 300px;
        margin-left: 30px;
    }
    .product-row{
        display: block;
    }
    .product-img{
        margin-left: 10px;
    }
    
}

#id{
    display: none;
}