.product-row {
    display: flex;
    flex-flow: row wrap;
    margin-top: 5px;
}

.product-card {
    border: 1px;
    border-color: aqua;
    border-style: solid;
    border-radius: 5px;
    width: 24%;
    height: 640px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.product-img {
    height: 350px;
    width: 280px;
    margin-left: 40px;
    margin-top: 10px;

}

.product-title {
    font-family: 'Montserrat';
    color: rgb(93, 93, 93);
    font-size: 20px;
    text-align: center;
}

.product-price {
    font-family: 'Montserrat';
    color: rgb(94, 94, 94);
    font-size: 20px;
    text-align: center;
}

.product-view-button {
    height: 50px;
    width: 100px;
    text-align: center;

    font-family: 'Monsterrat';

    background-color: black;
    color: aliceblue;
    letter-spacing: 1px;
}

.product-view-button:hover {
    background-color: aqua;
}

.add-to-cart-button {
    height: 50px;
    width: 100px;
    text-align: center;

    font-family: 'Monsterrat';


    background-color: black;
    color: aliceblue;
    letter-spacing: 1px;
}

.add-to-cart-button:hover {
    background-color: white;
    color: black;

}

.product-cart-buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 55px;
    margin-right: 55px;
}