{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}"
    />
    <script src="{% static 'js/header-footer.js' %}"></script>
    
    <title>lookbook</title>
  </head>
  <body>
    {% block content %}
    {% include 'header.html' %}
    {% endblock %}
    <div class="conatiner">
      {% for product in cart %}
      <div class="product-card">
        <img class="product-image" src="../static/media/{{product.order_product_image}}">
        <p class="Product_Title">{{product.order_product}}</p>
        <p class="Product_Price">{{product.order_product_price}}</p>
        <input id="pxl" style="display: none;" value="{{product.xl}}">
        <p id="meho" class="meho"></p>
        <p id="meho2" class="meho"></p>
        
        <div class="size_selector">
          <p class="size_choose">Choose you size: </p>&nbsp;
          <select class="size">
            <option id="xxs" class="option_xxs">xxs</option>
            <option id="xs" class="option_xs">xs</option>
            <option id="m" class="option_m">m</option>
            <option id="l" class="option_l">l</option>
            
            
            <option id="xl" class="option_xl" >xl</option>
            <option id="xxl" class="option_xxl" >xxl</option>

          </select>
          <p class="class_xxs" style="display:none ; " id="pxxs">{{product.xxs}}</p>
          <p class="class_xs" style="display:none ; " id="pxs">{{product.xs}}</p>
          <p class="class_m" style="display:none ; " id="m">{{product.m}}</p>
          <p class="class_l" style="display:none ; " id="pl">{{product.l}}</p>
          <p class="class_xl" style="display:none ; " id="pxl">{{product.xl}}</p>
          <p class="class_xxl" style="display:none ; " id="pxxl">{{product.xxl}}</p>
          <p class="merhaba" style="display: none;">{{product.xs}}</p>
          <p id="meho"></p>

        </div>
        <div class="quantity-select">
          <input class="quantity-choose" placeholder="Choose quantity">
          
            
            <p id="meho"></p>

        </div>
        <button class="product-view-button">VIEW PRODUCT</button>
        <button class="product-remove-button">REMOVE</button>
        
      </div>
      {%endfor%}
      <script>

        const sizes_xxs=document.getElementsByClassName("class_xxs")
        const sizes_data_xxs = [].map.call(sizes_xxs, item => item.textContent)
        options_xxs=document.getElementsByClassName('option_xxs');
        document.getElementById('meho').innerHTML=sizes_data_xxs
        
        for (i in options_xxs){
          if(sizes_data_xxs[i]==0){
            options_xxs[i].style.display="none"
          }
        }
        const sizes_xs=document.getElementsByClassName("class_xs")
        const sizes_data_xs = [].map.call(sizes_xs, item => item.textContent)
        options_xs=document.getElementsByClassName('option_xs');
        
        
        for (i in options_xs){
          if(sizes_data_xs[i]==0){
            options_xs[i].style.display="none"
          }
        }
        const sizes_m=document.getElementsByClassName("class_m")
        const sizes_data_m = [].map.call(sizes_m, item => item.textContent)
        options_m=document.getElementsByClassName('option_m');
        
        
        for (i in options_m){
          if(sizes_data_m[i]==0){
            options_m[i].style.display="none"
          }
        }
        const sizes_l=document.getElementsByClassName("class_l")
        const sizes_data_l = [].map.call(sizes_l, item => item.textContent)
        options_l=document.getElementsByClassName('option_l');
        
        
        for (i in options_l){
          if(sizes_data_l[i]==0){
            options_l[i].style.display="none"
          }
        }
        const sizes_xl=document.getElementsByClassName("class_xl")
        const sizes_data_xl = [].map.call(sizes_xl, item => item.textContent)
        options_xl=document.getElementsByClassName('option_xl');
        
        
        for (i in options_xl){
          if(sizes_data_xl[i]==0){
            options_xl[i].style.display="none"
          }
        }
        const sizes_xxl=document.getElementsByClassName("class_xxl")
        const sizes_data_xxl = [].map.call(sizes_xxl, item => item.textContent)
        options_xxl=document.getElementsByClassName('option_xxl');
        
        
        for (i in options_xxl){
          if(sizes_data_xxl[i]==0){
            options_xxl[i].style.display="none"
          }
        }
        
        
        
  
        
    </script>
      <form method="post" action="{% url 'make_order' %}">
        {% csrf_token %}
        <div class="payment">
          <p class="number_of_products" id="number_of_products"></p>
          
          <p class="total_value" name="total_value" id="total_value"></p>
          <input  name="total_value" id="i_total_value">
          <button class="make_order" href="{% url 'make_order' %}" type="submit" >Make Order</button>

      </form>
      </div>
    </div>

    <footer-component>

    </footer-component>
  </body>
  
  
  <script>

    
    const productCurrency=document.getElementsByClassName("Product_Price")
    const data = [].map.call(productCurrency, item => item.textContent)
    counter=0
    price=0
    for(i in data){
      counter=counter + 1
      price=price + Number(data[i])


    }
    document.getElementById('number_of_products').innerHTML="Number of products: " + counter
    document.getElementById('total_value').innerHTML="Total value: " + price + "$"
    inputI=document.getElementById('i_total_value')
    inputI.setAttribute('value',  + price + "$");
    
  </script>
</html>
