{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}" />
  <script src="{% static 'js/header-footer.js' %}"></script>

  <title>lookbook</title>
</head>

<body>
  {% block header %}
  {% include 'header.html' %}
  {% endblock %}
  <div class="cart-wraper">
    {% for product in cart %}

    <div class="cart-item">
      <img class="product-image" src="../static/media/{{product.order_product_image}}" />
      <p class="product-title">{{product.order_product}}</p>
      <p class="product-price">{{product.order_product_price}}</p>
      <div class="cart-buttons">
        <select id="sizes" class="sizes" name="sizes">
          <option class="size-option" value="xs">XS</option>
          <option class="size-option" value="s">S</option>
          <option class="size-option" value="m">M</option>
          <option class="size-option" value="l">L</option>
          <option class="size-option" value="xl">XL</option>
        </select>
        <form method="POST" action="{% url 'product-view' %}" class="cart-form">
          {% csrf_token %}
        <button class="product-view-button" href="{% url 'product-view' %}">VIEW PRODUCT</button>
    
        <input id="id" type="number" name="id" value="{{product.order_product_id}}" style="display: none;"><br>
        </form>
        <form method="post" action="{% url 'remove_button' %}" class="cart-form">
          {% csrf_token %}
          <button class="product-remove-button" href="{% url 'remove_button' %}">REMOVE</button>
          <input id="id" type="number" name="id" value="{{product.order_product_id}}" style="display: none;"><br>
          <input id="id"  name="sizes" value="{{product.order_product_size}}" style="display: none;"><br>
        
        </form>
      </div>
    </div>
    {% endfor %}
    

  </div>
  
<hr>
  
    <form method="post" class="forma" action="{% url 'make_order' %}">
      {% csrf_token %}
      <div class="payment">
        <p class="number_of_products" id="number_of_products"></p>
        <div class="price">
          <p class="total_value" name="total_value" id="total_value"></p>
          <p id="value" class="value">$</p>

        </div>

        <input name="total_value" id="i_total_value" style="display:none ;">
        <button class="make_order" href="{% url 'make_order' %}" type="submit">Make Order</button>
      </div>
    </form>
  {% block footer %}
  {% include 'footer.html' %}
  {% endblock %}
</body>
<footer>
  <script>


  const productCurrency = document.getElementsByClassName("product-price")
  const data = [].map.call(productCurrency, item => item.textContent)
  counter = 0
  price = 0
  for (i in data) {
  counter = counter + 1
  price = price + Number(data[i])


  }
  document.getElementById('number_of_products').innerHTML = "Number of products: " + counter
  document.getElementById('total_value').innerHTML = "Total value: " + price 
  inputI = document.getElementById('i_total_value')
  inputI.setAttribute('value', + price );

  </script>
  <script>
    const product=document.getElementsByClassName("product-price")
    const data2 = [].map.call(product, item => item.textContent)
    

function myFunction(){
      
      var currency = document.getElementById("pay-currency").value
      if (currency=="BAM"){
        
        newPrice=[]
        
      {
        
        
        for (i in data2){
          newPrice[i]=data2[i]*1.8


        }
        for (i in product){
          product[i].innerHTML=newPrice[i];

        }
        productValue=document.getElementsByClassName('product_value')
        for(i in productValue){
          productValue[i].innerHTML="KM"
        }
        var total_price=document.getElementById('i_total_value').value;
        document.getElementById('total_value').innerHTML="Total value: " + total_price * 1.8 ;
        document.getElementById('value').innerHTML="KM"
        
       

      
        
          
          
          
          
          
      }


      }
      if (currency=="GBP"){
        
        newPrice=[]
        
      {
        
        
        for (i in data2){
          newPrice[i]=data2[i]*0.8


        }
        for (i in product){
          product[i].innerHTML=newPrice[i];

        }
        productValue=document.getElementsByClassName('product_value')
        for(i in productValue){
          productValue[i].innerHTML="£"
        }

      
        var total_price=document.getElementById('i_total_value').value;
        document.getElementById('total_value').innerHTML="Total value: " + total_price * 0.8 ;
        document.getElementById('value').innerHTML="£"
          
          
          
          
          
        }


      }
      if (currency=="USD"){
        
        newPrice=[]
        
      {
        
        
        for (i in data2){
          newPrice[i]=data2[i]


        }
        for (i in productCurrency){
          productCurrency[i].innerHTML=newPrice[i];

        }
        productValue=document.getElementsByClassName('product_value')
        for(i in productValue){
          productValue[i].innerHTML="$"
        }

      
        var total_price=document.getElementById('i_total_value').value;
        document.getElementById('total_value').innerHTML="Total value: " + total_price ;
        document.getElementById('value').innerHTML="$"
          
          
          
          
          
        }


      }
      
    }
    
  </script>
</footer>

</html>