{% load static %}
{% block footer %}
<!DOCTYPE html>
<html lang="en">
<body>
    <secition id="bottom-body" class="bottom-body">
        <div class="bottom-body-container">
            <div class="first-bottom-body-row">
                <div class="first-bottom-body-column">
                    <ul>
                        <li>
                            <p><b>INFORMATION</b></p>
                        </li><br>
                        <li><a href="#">The brand</a></li>
                        <li><a href="{% url 'local-stores' %}">Local stores</a></li>
                        <li><a href="#">Customer service</a></li>
                        <li><a href="#">Privacy & cookies</a></li>
                        <li><a href="#">Site map</a></li>
                    </ul>
                </div>
                <div class="second-bottom-body-column">
                    <ul>
                        <li>
                            <p><b>WHY BUY FROM US</b></p><br>
                        </li>
                        <li><a href="#">Shipping & returns</a></li>
                        <li><a href="#">Secure shopping</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Award winning</a></li>
                        <li><a href="#">Ethical trading</a></li>
                        </li>
                    </ul>
                </div>
                <div class="third-bottom-body-column">
                    <ul>
                        <li>
                            <p><b>YOUR ACCOUNT</b></p><br>
                        </li>
                        <li><a href="{% url 'sign-in' %}">Sign in</a></li>
                        <li><a href="{% url 'sign-in' %}">Register</a></li>
                        <li><a href="{% url 'cart' %}">View cart</a></li>
                        <li><a href="{% url 'your-lookbook' %}">View your lookbook</a></li>
                        <li><a href="#">Track an order</a></li>
                        <li><a href="#">Update information</a></li>
                    </ul>
                </div>
                <div class="fourth-bottom-body-column">
                    <ul>
                        <li>
                            <p><b>LOOKBOOK</b></p><br>
                        </li>
                        <li><a href="#">Latest posts</a></li>
                        <li><a href="{% url 'mens' %}">Men's lookbook</a></li>
                        <li><a href="{% url 'womens' %}">Women's lookbook</a></li>
                        <li><a href="#">Lookbook RSS feed</a></li>
                        <li><a href="{% url 'your-lookbook' %}">View your lookbook</a></li>
                        <li><a href="#">Delete your lookbook</a></li>
                    </ul>
                </div>
                <div class="fifth-bottom-body-colum">
                    <ul>
                        <li>
                            <p><b>CONTACT DETAILS</b></p><br>
                        </li>
                        {% for contact in customer_support %}
                        <li><a href="#">Head Office Avenue Fashion,<br>{{contact.address}}, {{contact.city}}</a></li>
                        <li><a href="#">{{contact.phone_number}}</a></li>
                        <li><a href="mailto:{{contact.e_mail}}">Send us E-mail</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="second-bottom-body-row">
                <div class="award-winner">
                    <h1>AWARD WINNER</h1>
                    <H1>FASHION AWARDS 2016</H1>
                </div>
                <div class="social">
                    {% for social in customer_support %}
                    <a href="{{social.facebook_link}}"><i class="fab fa-facebook-f fa-2x"></i></a>
                    <a href="{{social.twitter_link}}"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="{{social.instagram_link}}"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="{{social.pinterest_link}}"><i class="fab fa-pinterest fa-2x"></i></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="copyright-footer">
            <p class="copyright">
                &#169;
                Avenue Fashion
            </p>
            <p class="design-by">
                Design by ITAcademy Begginers :)
            </p>
        </div>
    </secition>
</body>

</html>

{% endblock %}