{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/mens.css' %}">
  <link rel="stylesheet" href="{% static 'css/local-stores.css' %}">
  <script src="{% static 'js/header-footer.js' %}"></script>
</head>

<body>
  {% block header %}
  {% include 'header.html' %}
  {% endblock %}
  <section class="local-stores">
    <div class="find-us">
      <h3>FIND A STORE NEAR YOU</h3>
    </div>
    <div class="meni-info">
      {% for store in local_stores %}
      <div id="london">
        <p STYLE=text-align:left;font-weight:bold;font-size:14pt;>{{store.city}}</p>
        <p STYLE=text-align:left;font-weight:bold;><br>{{store.address}}</p>
        <p><br>{{store.about_store}}</p><br>
        <button id="btn1" type="button" onClick="Myfunction1(this.id)">VIEW DETAILS</button>
      </div>
      {% endfor %}
    </div>
    <div id="parent1" style="display:flex">
    {% for store in local_stores %}
      <div class="map1" id="map1">
        <iframe
          src="{{store.map_url|safe}}" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0">
        </iframe>
      </div>
      <div class="info-container">
        <div id="info1">
          <p style=margin-top:30px;margin-left:15px;margin-right:15px;font-size:14pt;font-weight:bold;>{{store.city}}
          </p>
          <p STYLE=text-align:left;font-weight:bold;><br>{{store.address}}</p>
          <p><br>{{store.about_store}}</p> <br>
          <p style=margin-left:0px><i style='font-size:14px;margin-left:15px' class='fas'>&#xf3c5;</i> {{store.address}}
          </p>
          <p style="margin-top:7px;margin-left:0px;"><i style='font-size:14px;margin-left:15px;'
              class='fas'>&#xf095;</i>
            {{store.phone_number}}</p>
          <p style="margin-top:7px;margin-left:0px;"><i style="font-size:14px;margin-left:15px;"
              class="fa">&#xf0c1;</i><a href="{{store.web_address}}"> {{store.web_address}}</p>
          <p style="margin-top:7px;margin-left:0px;"><i style="font-size:14px;margin-left:15px;"
              class="fa">&#xf0e0;</i><a href="mailto:{{store.e_mail}}"> Send us mail<a></a></p>
          <p style="margin-top:7px;margin-left:0px"><i style="font-size:14px;margin-left:15px;" class="fa">&#xf017;</i>
            Monday-Friday: {{store.weekdays_working_hours}} Saturday: {{store.saturday_working_hours}} Sunday:
            {{store.sunday_working_hours}} </p>
        </div>
        {% endfor %}
        <div class="social-links">
          {% for link in local_stores %}
          <a href="{{link.facebook_link}}" class="fab fa-facebook-f"></a>
          <a href="{{link.twitter_link}}" class="fab fa-twitter"></a>
          <a href="{{link.instagram_link}}" class="fab fa-instagram"></a>
          <a href="{{link.pinterest_link}}" class="fab fa-pinterest"></a>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <footer-component></footer-component>
</body>

</html>