{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/mens.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}"
    />
    <script src="{% static 'js/header-footer.js' %}"></script>
    <title>lookbook</title>
  </head>
  <body>
    {% block content %}
    {% include 'header.html' %}
    {% endblock %}
    <div class="container">
        <div class="product-row">
            {% for product in male_products %}
            <div class="product-card">
                <img  class="product-img" src="{{product.product_image}}">
                <p class="product-title">{{product.product_title}}</p>
                <p class="product-price">{{product.product_price}}$</p>
                <div class="product-cart-buttons">
                  <a href="{% url 'product-view' %}"><button class="product-view-button">  
                   VIEW PRODUCT
                </button></a>
                <button class="add-to-cart-button" action="submit">ADD TO 
                  <i style="font-size:26px" class="fa">&#xf07a;</i>
                </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer-component></footer-component>
  </body>
</html>