{% load static %} {% block header %} {% include 'header.html' %} {% endblock %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sign-in.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mens.css' %}" />
  </head>

  <body>
    <div class="main">
      {% block signin %}
      <div class="register">
        <form method="post">
          <h2>REGISTER</h2>
          {% csrf_token %} {{ signin_form.as_p }}
          <label class="checkbox">
            <input type="checkbox" class="checkbox" />Sign up for exclusive
            updates,discounts,new arrivals,contests and more
          </label>
          <div class="create">
            <button class="create-btn" action="submit">CREATE ACCOUNT</button>
          </div>
          <p class="link-btn-txt">
            By clicking on 'CREATE ACCOUNT' you agree to our
            <a href="#" class="link-btn"
              >Privacy Policy
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i
            ></a>
          </p>
        </form>
      </div>
      {% endblock %}
    </div>
    <footer-component></footer-component>
  </body>
</html>
