{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your lookbook</title>
    <link rel="stylesheet" href="{% static 'css/your-lookbook.css' %}" />
    <link rel="stylesheet" href="{% static 'css/heder.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mens.css' %}" />
  </head>

  <body>
    {% block header %} {% include 'header.html' %} {% endblock %} {% block
    content %}
    <div class="container">
      <div class="body">
        <img
          class="body"
          src="../static/media/products/Human_body_silhouette.jpg"
        />
        <div class="head">
          <a href="{% url 'choose-hat' %}"><button>choose</button></a>
          <img
            alt="Choose your product"
            onerror="this.style.display='none'"
            class="product-img"
            src="../static/media/{{product_hat.lookbook_image}}"
          />
        </div>
        <div class="upper-body">
          <a href="{% url 'choose-shirt' %}"><button>choose</button></a>
          <img
            class="product-img"
            onerror="this.style.display='none'"
            src="../static/media/{{product_shirt.lookbook_image}}"
          />
        </div>
        <div class="lower-body">
          <a href="{% url 'choose-jeans' %}"><button>choose</button></a>
          <img
            class="product-img"
            onerror="this.style.display='none'"
            src="../static/media/{{product_jeans.lookbook_image}}"
          />
        </div>
        <div class="shoes">
          <a href="{% url 'choose-shoes' %}"><button>choose</button></a>
          <img
            class="product-img"
            onerror="this.style.display='none'"
            src="../static/media/{{product_shoes.lookbook_image}}"
          />
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
