p {
  font-family: "Montserrat";
  color: #9a9a9a;
}

ul {
  font-family: "Montserrat";
  color: #9a9a9a;
}

.header-section {
  height: 440px;
  width: 100%;
  background: rgba(0, 0, 0, 0.349);
  background-image: url("./img/into.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.233), rgba(0, 0, 0, 0.233));
  background-blend-mode: overlay;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
* {
  padding: 0px;
  margin: 0px;
}
body{
  display: block;
}

.lookbook-body {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  
  .header-section {
    height: 300px;
    width: 100%;
    /* display: inline-block; */
    background-blend-mode: overlay;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
  }

  .lookbook-body {
    display: grid;
    width: 100%;

  }
}

.page-title {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Montserrat";
  font-size: 47px;
  font-weight: 100;
  letter-spacing: 2px;
}

.breadcrumbs {
  text-align: center;
  position: relative;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 2px;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .breadcrumbs {
    font-size: 10px;
  }
  .page-title {
    font-size: 20px;
  }
  #h-link-1{
    padding-left: 0px;

  }
}

.row {
  display: flex;
  padding-top: 3%;
  padding-left: 19%;
}

@media screen and (max-width: 768px) {
  .row {
    display: block;
    padding-left: 0px;
  }
  .product-group{
    display: block;
  }
  .h-links-lookbook{
    display: block;
    padding-left: 0px;

  }
  


}

#line-of-section {
  border-top: 1px solid #9a9a9a48;
  margin: 60px 70px 50px 70px;
}

.h-links-lookbook {
  color: #9a9a9a;
  font-weight:bolder;
  font-family: "Montserrat";
  font-size: 13px;  
  text-decoration: none;
  margin-left: 25px;
}

.h-links-lookbook:hover {
  color: #00c8c8;

}




.product-group {
  padding-left: 65px;
  display: flex;

}

.first-lookbook-row{
  display: flex;
  height: 500px;
  padding-left: 60px;
  padding-top: 60px;
}

.first-lookbook-row-one{
  width: 25%;
  background-image: url(../static/img/item1.jpg);
} 

.first-lookbook-row-two{
  width: 25%;
  background-image: url(../static/img/item2.jpg);
  margin-left: 10px;
} 
.first-lookbook-row-three{
  width: 50%;
  background-image: url(../static/img/item3.jpg);
  background-size: cover;
  margin-left: 10px;
  margin-right: 60px;
}   

.lookbook-h2{
  font-family: 'Montserrat';
  color: #575153;
  margin-top: 50px;
  margin-left: 5px;
  font-size: 40px;
}

.lookbook-h6{
  font-family: 'Montserrat';
  color: #575153;
  margin-top: 20px;
  margin-left: 5px;
}

.lookbook-p{
  font-family: 'Montserrat';
  color: #575153;
  margin-top: 30px;
  margin-left: 5px;
  width: 40%;
  font-size: 12px;
}
.second-lookbook-row{
  display: flex;
  height: 500px;
  padding-left: 60px;
  padding-top: 60px;
}
.second-lookbook-row-one{
  background-image: url(../static/img/item4.jpg);
  width: 25%;

}
.second-lookbook-row-two{
  background-image: url(../static/img/item5.jpg);
  width: 25%;
  margin-left: 10px;

}
.second-lookbook-row-three{
  background-image: url(../static/img/item6.jpg);
  width: 25%;
  margin-left: 10px;

}
.second-lookbook-row-four{
  background-image: url(../static/img/item7.jpg);
  width: 25%;
  margin-left: 10px;
  margin-right: 60px;

}

.lookbook-btn{
  width: 150px;
  height: 50px;
  background: transparent;
  font-family: 'Montserrat';
  margin-top: 30px;
  margin-left: 5px;

}

.third-lookbook-row{
  display: flex;
  margin-top: 10px;
  padding-left: 60px;
}
.third-lookbook-row-one{
  background-image: url(../static/img/win-book.jpg);
  background-position: center;
  
  padding-left: 20px;
  width: 75%;
  height: 500px;


}
.third-lookbook-row-two{
  background-image: url(../static/img/item9.jpg);
  margin-left: 10px;
  margin-right: 60px;
  width: 25%;
}

.lookbook-p-2{
  font-family: 'Montserrat';
  color: #575153;
  margin-top: 30px;
  margin-left: 5px;
  width: 35%;
  font-size: 12px;
}
.big-award{
  color: #00c8c8;
  font-size: 170px;
  font-weight: bold;
  float: right;
  margin-bottom: 200px;
}
.lookbooks {
  display: flex;
}

.man-lookbook {
  display: flex;
  background-color: #F8F8F8;
  padding: 2% 2% 0% 2%;
  margin: 1% 1% 1% 0%;
  height: 382px;

}

.background-image img {
  width: 100%;
  height: max-content;
}

.man-lookbook img {
  width: auto;
  height: 100%;
}

.woman-lookbook img {
  width: auto;
  height: 100%;
}

.your-lookbook img {
  width: auto;
  height: 100%;
}

.woman-lookbook {
  display: flex;
  background-color: #F8F8F8;
  padding: 2% 2% 0% 2%;
  margin: 1%;
  height: 382px;
}

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.your-lookbook {
  display: flex;
  background-color: #F8F8F8;
  padding: 2% 2% 0% 2%;
  margin: 1% 0% 1% 1%;
  height: 382px;
}

.lookbook-text h1 {
  justify-content: left;
}

.lookbook-span-first,
.lookbook-span-second,
.lookbook-span-first p,
.lookbook-span-second p {
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
  float: right;
  justify-content: left;
}

.lookbooks {
  margin: 0px;
  padding: 0px;
  width: fit-content;
  height: fit-content;
}

.lookbooks img {
  width: fit-content;
  height: 350px;
}

.lookbook-span-first,
.lookbook-span-second,
.lookbook-span-first {
  font-family: sans-serif;
  font-weight: bold;
  float: right;
}

.lookbook-text p {
  text-align: right;
  padding: 30px 0px;
}

.lookbook-text button {
  float: right;
  width: 50%;
  padding: 5%;
  font-family: sans-serif;
  font-weight: bold;
  color: #727272;
  background-color: #fff;
  border: #727272 solid;
}

.lookbook-text button:hover {
  float: right;
  width: 50%;
  padding: 5%;
  font-family: sans-serif;
  font-weight: bold;
  color: #F8F8F8;
  background-color: #00c8c8;
  cursor: grab;
  border: none;
  /*border bottom kad se kursor howeruje nad njim blinka...kako ispraviti bug?*/
  transition: 0.6s ease;
}

@media screen and (max-width: 768px){

  .first-lookbook-row{
    display: block;
    height: 100%;
    margin-top: 10px;
    
  }
  .first-lookbook-row-one{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 500px;
    background-repeat: no-repeat;
    margin-top: 10px;
  }
  .first-lookbook-row-two{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 500px;
    background-repeat: no-repeat;
    margin-top: 10px;
  }
  .first-lookbook-row-three{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 500px;
    background-repeat: no-repeat;
    margin-top: 10px;
  }
  .second-lookbook-row{
    display: block;
    height: 100%;
    margin-top: 10px;
    
  }
  .second-lookbook-row-one{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 500px;
    background-repeat: no-repeat;
    margin-top: 10px;
  }
  .second-lookbook-row-two{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 500px;
    background-repeat: no-repeat;
    margin-top: 10px;
  }
  .second-lookbook-row-three{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 500px;
    background-repeat: no-repeat;
    margin-top: 10px;
  }
  .second-lookbook-row-four{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 500px;
    background-repeat: no-repeat;
    margin-top: 10px;
  }
  .third-lookbook-row{
    display: block;
    height: 100%;
    margin-top: 10px;
    
  }
  .third-lookbook-row-one{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 500px;
    background-repeat: no-repeat;
    margin-top: 10px;
  }
  .third-lookbook-row-two{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 500px;
    background-repeat: no-repeat;
    margin-top: 10px;
  }
  .lookbooks{
    display: block;
  }
  .big-award{
    font-size: 50px;
  }
  .product-group{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .h-links-lookbook{
    margin-top: 10px;
  }

  
}